<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <title>Ping</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
  <style>
    .result {
      text-align: center;
    }

    table {
      border-collapse: collapse;
      width: 50%;
      margin: 0 auto; /* Tabloyu ortala */
      margin-top: 20px; /* İstenilen boşluk */
    }

    th, td {
      border: 1px solid #ddd; /* Kenarlıklar ekle */
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }
  </style>
</head>


<body>
<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
  <a href="index">HOME</a>
  <a href="pinging">Ping</a>
  <a href="portCheck">Port Check</a>
  <a href="dnsLookup">DNS Lookup</a>
  <a href="reverseDnsLookup">Reverse Lookup</a>
  <a href="traceroute">Traceroute</a>
  <a href="whoIs">Whois</a>
</nav>

<!-- Search area (same as in index.html) -->

  <div class="search-area" style="text-align: center;">
    <br>
    <h2 ><b>Ping</b> </h2>
    <p> - Shows how long it takes for packets to reach host - </p>
    <br>
    <form action="/pingSelect" method="GET">
      <input type="text" name="ip" placeholder="Enter an IP ">
      <button type="submit" value="Ping" class="button">Ping</button>
    </form>
  </div>
<br>
<br>
<div class="result" style="text-align: center;"> <b>IP is: {{.ip}}</b> <br>
  <br>
  <div class="ping-results">
    <h2>Ping Results</h2>
    <table>
      <tr>
        <th>IP </th>
      </tr>
      {{range .pingResults}}
      <tr>
        <td>{{.}}</td>
      </tr>
      {{end}}
    </table>
  </div>

  <div class="ping-statistics">
    <h3>Ping Statistics</h3>
    <table>
      <tr>
        <th>Packets transmitted</th>
        <th>Received</th>
        <th>Packet loss</th>
        <th>Time</th>
      </tr>
      <tr>
        <td>{{.packetsTransmitted}}</td>
        <td>{{.packetsReceived}}</td>
        <td>{{.packetLoss}}</td>
        <td>{{.time}}</td>
      </tr>
    </table>
  </div>

  <div class="bytes-of-data">
    <h3>Bytes of Data</h3>
    <table>
      <tr>
        <th>IP - TTL - RTT</th>
      </tr>
      {{range .bytesOfData}}
      <tr>
        <td>{{.}}</td>
      </tr>
      {{end}}
    </table>
  </div>
<!-- Result -->
<div class="result">
  <!-- Result content will be displayed here -->



  <script>
    function sendFormData() {
      var ip = document.getElementById("ipInput").value;

      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/pingSelect", true);
      xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      xhr.onreadystatechange = function() {
        if (xhr.readyState === 4 && xhr.status === 200) {
          // İstek tamamlandığında yapılacak işlemler
          console.log(xhr.responseText);
        }
      };
      var data = "ip=" + encodeURIComponent(ip) ;
      xhr.send(data);
    }
  </script>
</div>
</body>

</html>
